@charset "UTF-8";

@media screen and (orientation: landscape) {
    section#login {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
    
        background-color: white;
        width: 250px;
        height: 500px;
        border-radius: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.438);
    
        transition: width .3s, height .3s;
        transition-timing-function: ease;
     }
    
     section#login > div#imagem {
        display: block;
        background: #5f2c82 url(../imagens/metal.jpg) no-repeat;
        background-size: cover;
        background-position: left bottom;
        height: 200px;
     }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    section#login {
        width: 80vw;
    }

    section#login >div#imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    section#login > div#formulario {
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    section#login {
        width: 950px;
    }

    section#login > div#imagem {
        float: left;
        width: 50%;
        height: 100%;
        
    }

    section#login > div#formulario {
        float: right;
        width: 50%;
    }
}